* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bk {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.menu {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  list-style: none;
  justify-content: center;
}

header {
  background: url(/images/fondo2.png) no-repeat top center;
  border-style: solid;
  border-bottom: #000000;
  border-style: solid;
}

h2 {
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 19px
}

:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

footer {
  background-color: rgb(15, 15, 15);
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 10px;
  margin-top: 200px;
  padding: 10px;
  text-decoration: none;
  text-decoration-color: #ffffff;
  font-size: 14px;
  border-radius: 15px;
}

#contenedor_principal {
  width: auto;
  height: auto;
  margin: auto;
  justify-content: center;
  position: center;
  text-align: center;
}

.contenedor_imagen_texto {
  width: auto;
  height: auto;
  position: top;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
}

.imagen {
  width: 100%;
  height: auto;
  position: relative;
  display: inline-block;
  padding: 15px;
}

.texto {
  margin: 5px;
  padding: 1px
}

.contenedor_imagen_texto {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(82, 82, 82);
}

.contenedor_imagen_texto:hover {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  cursor: pointer;
}

.contenedor_imagen_texto {
  box-shadow: 0 0 7px rgb(114, 114, 114);
}

.contenedor_imagen_texto:hover {
  box-shadow: 0 0 0px rgb(114, 114, 114);
  transform: scale(1.105);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
}

#carouselExample {
  display: flex;
  justify-items: center;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

/* menu */
button {
  display: inline-block;
  border-radius: 4px;
  background-color: #5c5c5c;
  border-style: solid;
  border-color: #1a1a1a;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -25px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

@media only screen and (max-width:768px) {

  .imagen,
  .texto,
  .contenedor_imagen_texto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    text-align: left;
    margin: 2px;
    padding: 5px;
  }

  footer {
    font-size: 14px;
    margin: 2px;
  }

  header {
    justify-content: center;
  }
}